@import "variables";

.label {
  display:inline-block;
  margin: 2px;
}
label.radio-inline, .checkbox label.checkbox-inline {
  display: inline-block;
}

.radio-inline, .radio-inline + .radio-inline, .checkbox-inline, .checkbox-inline + .checkbox-inline {
  margin-right: 10px !important;
  margin-top: 5px !important;
  margin-left: 0 !important;
  margin-bottom: 10px !important;
}

.checkbox-table {
  display: inline-block;
  margin: 2px 0 0 0;
  line-height: 10px;
}

.checkbox-table label {
  margin-bottom: 0;
}

input[type="radio"], input[type="checkbox"] {
  box-sizing: border-box;
  cursor: pointer;
  line-height: normal;
}

.clip-check {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 0;
}
.clip-check label {
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  margin-right: 15px;
  padding-left: 30px !important;
  position: relative;
  line-height: 23px;
  transition: border 0.2s linear 0s, color 0.2s linear 0s;
  white-space: nowrap;
}
.clip-check label:before {
  background-color: #ffffff;
  border: 1px solid #c8c7cc;
  content: "";
  display: inline-block;
  height: 20px;
  left: 0;
  margin-right: 10px;
  position: absolute;
  width: 20px;
  border-radius: 0;
  top: 1px;
  transition: border 0.2s linear 0s, color 0.2s linear 0s;
}
.clip-check label:after {
  display: inline-block;
  font-size: 11px;
  height: 19px;
  left: 4px;
  position: absolute;
  top: -1px;
  transition: border 0.2s linear 0s, color 0.2s linear 0s;
  width: 19px;
}
.clip-check input[type="checkbox"] {
  opacity: 0;
}
.clip-check input[type="checkbox"]:checked + label:before {
  border-width: 10px;
}
.clip-check input[type="checkbox"]:checked + label:after {
  color: #fff;
  content: "\f00c";
  font-family: "FontAwesome";
}
.clip-check input[type="checkbox"]:focus + label::before {
  background-color: #e6e6e6;
}
.clip-check input[type="checkbox"][disabled] + label {
  opacity: 0.65;
}
.clip-check input[type="checkbox"][disabled] + label:before {
  background-color: #F8F8F8;
}
.clip-check.check-sm label {
  margin-right: 15px;
  padding-left: 24px !important;
  line-height: 22px;
}
.clip-check.check-sm label:before {
  height: 14px;
  width: 14px;
  top: 4px;
}
.clip-check.check-sm label:after {
  font-size: 8px;
  height: 13px;
  left: 3px;
  width: 13px;
}
.clip-check.check-sm input[type="checkbox"]:checked + label:before {
  border-width: 7px;
}
.clip-check.check-md label {
  margin-right: 15px;
  padding-left: 35px !important;
  line-height: 28px;
}
.clip-check.check-md label:before {
  height: 25px;
  width: 25px;
}
.clip-check.check-md label:after {
  font-size: 14px;
  height: 24px;
  left: 5px;
  width: 24px;
}
.clip-check.check-md input[type="checkbox"]:checked + label:before {
  border-width: 12px;
}
.clip-check.check-lg label {
  margin-right: 15px;
  padding-left: 40px !important;
  line-height: 33px;
}
.clip-check.check-lg label:before {
  height: 30px;
  width: 30px;
}
.clip-check.check-lg label:after {
  font-size: 17px;
  height: 29px;
  left: 6px;
  width: 29px;
}
.clip-check.check-lg input[type="checkbox"]:checked + label:before {
  border-width: 15px;
}

.clip-check.check-success input[type="checkbox"]:checked + label:before {
  border-color: #5cb85c;
}

.clip-check.check-primary input[type="checkbox"]:checked + label:before {
  border-color: #58748B;
}

.clip-check.check-warning input[type="checkbox"]:checked + label:before {
  border-color: #eea236;
}

.clip-check.check-danger input[type="checkbox"]:checked + label:before {
  border-color: #d43f3a;
}

.clip-check.check-info input[type="checkbox"]:checked + label:before {
  border-color: #46b8da;
}

.clip-check.check-purple input[type="checkbox"]:checked + label:before {
  border-color: #9A89B5;
}

.clip-radio {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 0;
}
.clip-radio label {
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  margin-right: 15px;
  padding-left: 25px !important;
  position: relative;
  margin-bottom: 6px;
  line-height: 23px;
}
.clip-radio label:before {
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  content: "";
  display: inline-block;
  height: 20px;
  left: 0;
  margin-right: 10px;
  position: absolute;
  width: 20px;
  border-radius: 99px;
  bottom: 2px;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.215, 1.33) 0s;
}
.clip-radio label:after {
  border: 1px solid #c8c7cc;
  content: "";
  display: inline-block;
  height: 20px;
  left: 0;
  margin-right: 10px;
  position: absolute;
  width: 20px;
  border-radius: 99px;
  bottom: 2px;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.215, 1.33) 0s;
}
.clip-radio input[type="radio"] {
  opacity: 0;
}
.clip-radio input[type="radio"]:focus + label::before {
  background: #e6e6e6;
}
.clip-radio input[type="radio"]:checked + label:before {
  border-width: 6px;
  background: #F8F8F8;
  border-color: #ffffff;
}
.clip-radio input[type="radio"]:checked:focus + label::before {
  border-color: #e6e6e6 !important;
}
.clip-radio input[type="radio"][disabled] + label {
  opacity: 0.65;
}
.clip-radio.radio-sm label {
  padding-left: 20px !important;
  line-height: 21px;
}
.clip-radio.radio-sm label:before {
  top: 3px;
  height: 15px;
  width: 15px;
}
.clip-radio.radio-sm label:after {
  top: 3px;
  height: 15px;
  width: 15px;
}
.clip-radio.radio-sm input[type="radio"]:checked + label:before {
  border-width: 5px;
}
.clip-radio.radio-md label {
  padding-left: 30px !important;
  line-height: 29px;
}
.clip-radio.radio-md label:before {
  height: 25px;
  width: 25px;
}
.clip-radio.radio-md label:after {
  height: 25px;
  width: 25px;
}
.clip-radio.radio-md input[type="radio"]:checked + label:before {
  border-width: 7px;
}
.clip-radio.radio-lg label {
  padding-left: 35px !important;
  line-height: 33px;
}
.clip-radio.radio-lg label:before {
  height: 30px;
  width: 30px;
}
.clip-radio.radio-lg label:after {
  height: 30px;
  width: 30px;
}
.clip-radio.radio-lg input[type="radio"]:checked + label:before {
  border-width: 8px;
}

.clip-radio.radio-success input[type="radio"]:checked + label:before {
  background: #5cb85c;
}

.clip-radio.radio-primary input[type="radio"]:checked + label:before {
  background: #58748B;
}

.clip-radio.radio-info input[type="radio"]:checked + label:before {
  background: #46b8da;
}

.clip-radio.radio-warning input[type="radio"]:checked + label:before {
  background: #eea236;
}

.clip-radio.radio-danger input[type="radio"]:checked + label:before {
  background: #d43f3a;
}

.clip-radio.radio-purple input[type="radio"]:checked + label:before {
  background: #9A89B5;
}
fieldset {
    background: #ffffff;
    border: 1px solid #e6e8e8;
    border-radius: 5px;
    margin: 20px 0 20px 0;
    padding: 25px;
    position: relative;
        legend {
            background: inherit;
            font-family: "Lato", sans-serif;
            color: #58748B;
            font-size: 15px;
            left: 10px;
            padding: 0 10px;
            position: absolute;
            top: -12px;
            font-weight: 400;
            width: auto !important;
            border: none !important;
        }
}
.clip-select {
    margin: 0;
    display: block;
    position: relative;
    &:after {
        content: '\f107';
            font-family: "FontAwesome";
            color: rgba(44, 47, 59, 0.7);
            right: 8px;
            top: 8px;
            padding: 0 0 2px;
            position: absolute;
            pointer-events: none;
    }
    select {
        padding-right: 20px !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}
